{% extends "layout.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-3">
          <div class="panel panel-info">
            <div class="panel-heading">
              <strong>Active Users</strong>
            </div>
            <ul id="active-users">
              {% for user in users %}
                  <li class="user"><a href="#{{ user.email }}">{{ user.email }}</a></li>
              {% endfor %}
            </ul>
          </div>
          <div class="panel panel-info">
            <div class="panel-heading">
              <strong>Available Chatrooms</strong>
            </div>
            <ul id="chat-rooms">
              {% for topic in topics %}
                {% if topic.topicname %}
                  <li class="topic"><a href="/chat/{{ topic.topicname }}">{{ topic.topicname }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="panel panel-info">
            <div class="panel-heading">
              <strong>Add a Chatroom</strong>
            </div>
            <div class="container-fluid">
              {% for message in form.topicname.errors %}
              <div class="flash">{{ message }}</div>
              {% endfor %}
      
              <form id="submit-topic" action="{{ url_for('chat') }}" method="post">
                {{ form.hidden_tag() }}
                
                {{ form.topicname.label }}
                {{ form.topicname }}
                
                {{ form.submit }}
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="panel panel-info">
            <div class="panel-heading">
              <strong><span class="glyphicon glyphicon-list"></span> Current Chatroom: <span id="chatroom-name">{{ session['room'] }}</strong>
            </div>
            <div class="panel-body fixed-panel">
              <ul class="media-list" id="chat">
                {% for message in messages %}
                {% if message.topic_name == session['room'] %}
                  <li class="message">{{ message.text }}<br />posted by {{ message.user_email }} at {{ message.posted }}</li>
                {% endif %}
              {% endfor %}
              </ul>
            </div>
            <div class="panel-footer">
              <div class="input-group">
                <input type="text" class="form-control" placeholder="Enter Message" id="messageText" autofocus/>
                <span class="input-group-btn">
                  <button class="btn btn-info" type="button" id="sendMessage">SEND <span class="glyphicon glyphicon-send"></span></button>
                </span>
              </div>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('#submit').addClass('btn').addClass('btn-info').css('margin-top', '1em');
    $('#topicname').addClass('form-control');
    var channel = "/chat";
    var socket = io.connect('http://' + document.domain + ':' + location.port + channel);
    var receivedMsg;

    var room = $("#chatroom-name").text()

    socket.on('connect', function () {
      socket.emit('joined', { data: { room: room } });
    });

    socket.on('status', function(data) {
      console.log(data);
      $('#chat').append('<li class="message">' + data.msg + '\n');
    });
    
    socket.on('message', function(data) {
      receivedMsg = data;
      console.log(receivedMsg);
      $('#chat').append('<li class="message">' + data.text + '<br />' + 'posted by ' + data.author + data.time + '</li>');
    });

    socket.on('update_topics', function(data) {
      $('#chat-rooms').append('<li class="topic"><a href="/chat/' + titleCase(data.msg.room) + '">' + titleCase(data.msg.room) + '</a></li>');
    });
    
    $('#messageText').keypress(function(e) {
      var code = e.keyCode || e.which;
      if (code == 13) {
        text = $('#messageText').val();
        sendMessage();
        $('#messageText').val('');
      }
    });

    $("#sendMessage").on("click", function () {
        sendMessage();
    });

    $('#submit').on("click", function() {
      var name = $("#topicname").val();
      console.log(name);
      socket.emit('new_topic', { data: { room: name } });
      clearMessages();
      socket.emit('left', {});
    });

    $('#chat-rooms').on( 'click', 'a', function () {
      var chatroom = $(this)[0].innerText;
      clearMessages();
      socket.emit('left', {});
      socket.emit('joined', { data: { room: chatroom } });
    });

    function clearMessages() {
      $('.media-list li').detach();
    }

    function sendMessage() {
        $container = $('.media-list');
        $container[0].scrollTop = $container[0].scrollHeight;
        var text = $("#messageText").val();
        socket.emit('message', { data: { message: text } });
        $("#messageText").val("");
      }

      function titleCase(str) {
        str = str.toLowerCase().split(' ');
        for (var i = 0; i < str.length; i++) {
          str[i] = str[i].charAt(0).toUpperCase() + str[i].slice(1); 
        }
        return str.join(' ');
      }
  });
  
    /*function refreshMessages(message) {
      $(".media-list").append('<li class="media"><div class="media-body"><div class="media"><div class="media-body">'
        + message.data.message + '<br/><small class="text-muted">' + message.data.author + '</small><hr/></div></div></div></li>');
    }*/
  </script>

{% endblock %}