{% extends "layout.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="col-md-3">
          <div class="panel panel-info">
            <div class="panel-heading">
              <strong><span class="glyphicon glyphicon-list"></span> Logged in as: <span id="user-name">{{ session['username'] }}</strong>
              {% if session['room'] in moderated_rooms %}
              <span class="hidden admin">Admin</span>
              {% endif %}
            </div>
          </div>
          <div class="panel panel-info">
            <div class="panel-heading">
              <strong>Active Users in Current Room</strong>
            </div>
            <ul id="active-users">
              {% for user in users %}
                {% if user.topic_name == session['room'] %}
                  {% if session['room'] in moderated_rooms %}
                    <li class="user">{{ user.username }} <a class="ban">[ban]</a></li>
                  {% endif %}
                  {% if session['room'] not in moderated_rooms %}
                    <li class="user">{{ user.username }}</li>
                  {% endif %}
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          {% if session['room'] in moderated_rooms and banned_users %}
          <div class="panel panel-info">
            <div class="panel-heading">
              <strong>Banned Users</strong>
            </div>
            <ul id="banned-users">
              {% for user in banned_users %}
                <li class="user">{{ user }} <a class="unban">[unban]</a></li>
              {% endfor %}
            </ul>
          </div>
          {% endif %}
          {% if session['room'] in moderated_rooms and not banned_users %}
          <div class="panel panel-info hidden">
            <div class="panel-heading">
              <strong>Banned Users</strong>
            </div>
            <ul id="banned-users">
            </ul>
          </div>
          {% endif %}
          <div class="panel panel-info">
            <div class="panel-heading">
              <strong>Private Chats</strong>
            </div>
            <ul id="active-users">
              {% for user in users %}
                {% if user.email != session['email'] %}
                  <li class="user"><a href="/private_chat/{{ user.email }}">
                  {{ user.username }}</a></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="panel panel-info">
            <div class="panel-heading">
              <strong>Available Chatrooms</strong>
            </div>
            <ul id="chat-rooms">
              {% for topic in topics %}
                {% if topic.topicname %}
                  {% if topic.uid not in banned_from %}
                  <li id="{{topic.topicname}}" class="topic"><a href="/chat/{{ topic.topicname }}">{{ topic.topicname }}</a>
                    {% if topic.user_id == session['uid'] or topic.uid in moderated_rooms %}
                      <span id="{{topic.uid}}" class="remove_chatroom_btn" onclick="remove_chatroom(this)"><span class="glyphicon glyphicon-remove-sign" style="padding-left: 10px;"></span></span>
                    {% endif %}
                  {% endif %}
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="panel panel-info">
            <div class="panel-heading">
              <strong>Add a Chatroom</strong>
            </div>
            <div class="container-fluid">
              {% for message in form.topicname.errors %}
              <div class="alert alert-danger margin-top">{{ message }}</div>
              {% endfor %}
      
              <form id="submit-topic" action="{{ url_for('chat') }}" method="post">
                {{ form.hidden_tag() }}
                
                {{ form.topicname.label }}
                {{ form.topicname }}
                
                {{ form.submit }}
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-9">
          <div class="panel panel-info">
            <div class="panel-heading">
              <strong><span class="glyphicon glyphicon-list"></span> Current Chatroom: <span id="chatroom-name">{{ session['room'] }}</strong>
            </div>
            <div class="panel-body fixed-panel">
              <ul class="media-list" id="chat">
                {% for message in messages %}
                {% if message.topic_name == session['room'] %}
                  {% if message.score < 60 %}
                    <li class="message"><strong>{{ message.username }}</strong> <span class="text-muted">{{ message.posted }}</span> <a class="flag">[!]</a><br /><span id="{{message.uid}}-actual_msg">{{ message.text }}</span> <button onclick="start_translation(this)" type="button" id="{{message.uid}}" class="btn btn-default" aria-label="Left Align"> <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
                      </button>
                      <span id="{{message.uid}}-translated"></span><div style="float:right; clear:left;" class=""></div><br /><span class="score text-muted">comment toxicity: {{ message.score }}%</span><div></div></li>
                  {% endif %}
                  {% if message.score >= 60 %}
                    <li class="unmute message down" data-toggle="collapse" data-target="#{{ message.uid }}">Hidden comment <span class="glyphicon glyphicon glyphicon-chevron-down" aria-hidden="true"></span><span class="glyphicon glyphicon-chevron-up hidden" aria-hidden="true"></span></li>
                    <li class="message collapse" id="{{ message.uid }}""><strong>{{ message.user_email }}</strong> <span class="text-muted">{{ message.posted }}</span> <a class="flag">[!]</a><br /><span id="{{message.uid}}-actual_msg">{{ message.text }}</span> <button onclick="start_translation(this)" type="button" id="{{message.uid}}" class="btn btn-default" aria-label="Left Align"> <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span>
                      </button>
                      <span id="{{message.uid}}-translated"></span><div style="float:right; clear:left;" class=""></div><br /><span class="score text-muted">comment toxicity: {{ message.score }}%</span><div></div></li>
                  {% endif %}
                {% endif %}
              {% endfor %}
              </ul>
            </div>
            <div class="panel-footer">
              <div class="input-group">
                <input type="text" class="form-control" paceholder="Enter Message" id="messageText" autofocus/>
                <span class="input-group-btn">
                  <button class="btn btn-info" type="button" id="sendMessage">SEND <span class="glyphicon glyphicon-send"></span></button>
                </span>
              </div>
            </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
<script>

  $(document).ready(function() {
    var add_mod;
    var count = -1;

    // checking if local storage is supported by the browser
    var testStorage;
    if (typeof(Storage) !== "undefined") {
      testStorage = 1;
    } else {
      testStorage = 0;
    }

    key = 'trnsl.1.1.20180323T002815Z.931efcfa06f08dc6.585e129a89a9ad92ac700de57bf10c55bd482438';
    $('#submit').addClass('btn').addClass('btn-info').css('margin-top', '1em');
    $('#topicname').addClass('form-control');
    var channel = "/chat";
    var socket = io.connect('http://' + document.domain + ':' + location.port + channel);
    var receivedMsg;

    var room = $("#chatroom-name").text()

    $(window).bind('beforeunload',function(){
      socket.emit('left', {});
    });
    $("#chat").animate({ scrollTop: $("#chat").prop("scrollHeight") - $('#chat').height() }, 100);

    socket.on('connect', function () {
      socket.emit('joined', { data: { room: room } });
    });

    socket.on('status', function(data) {
      console.log(data);
      $('#chat').append('<li class="message">' + data.msg + '</li>');
      if (data.msg.includes("has entered") && $('#active-users .user:contains("' + data.user + '")').length == 0) {
        if ($(".admin").length != 0 && data.user != $("#user-name").text()) {
          $('#active-users').append('<li class="user">' + data.user + ' <a class="ban">[ban]</a></li>');
            addBanClick($(".ban"));
            addAddModClick($(".add_moderator"));
        } else {
          $('#active-users').append('<li class="user">' + data.user + '</li>');
        }
      } else if (data.msg.includes("has left")) {
        $('#active-users .user:contains("' + data.user + '")').remove();
      }
      $("#chat").animate({ scrollTop: $("#chat").prop("scrollHeight") - $('#chat').height() }, 100);
    });
    
    socket.on('message', function(data) {
      console.log("hi");
      receivedMsg = data;
      console.log(receivedMsg);
      if (data.score >= 60) {
        $('#chat').append('<li class="unmute message down" data-toggle="collapse" data-target="#' + count + '">Hidden comment <span class="glyphicon glyphicon glyphicon-chevron-down" aria-hidden="true"></span><span class="glyphicon glyphicon-chevron-up hidden" aria-hidden="true"></span></li><li class="message collapse" id="' + count + '"><strong>' + data.author + '</strong> <span class="text-muted">' + data.time + '</span> <a class="flag">[!]</a><br /><span id="' + data.id + '-actual_msg">' + data.text + '</span> <button onclick="start_translation(this)" type="button" id="message.uid" class="btn btn-default" aria-label="Left Align"> <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span></button><span id="message.uid-translated"></span><div style="float:right; clear:left;" class=""></div><br /><span class="score text-muted">comment toxicity: ' + data.score + '%</span><div></div></li>');
        count--;
      } else {
        $('#chat').append('<li class="message"><strong>' + data.author + '</strong> <span class="text-muted">' + data.time + '</span> <a class="flag">[!]</a><br /><span class="' + data.id + '-actual_msg">'+ data.text + '</span> <button onclick="start_translation(this)" type="button" class="btn btn-default" aria-label="Left Align"> <span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> </button> <span class="translated_noid"></span><div style="float:right; clear:left;" class=""></div><br><span class="score text-muted">comment toxicity: ' + data.score + '%</span><div></div></li>');
      }
      $("#chat").animate({ scrollTop: $("#chat").prop("scrollHeight") - $('#chat').height() }, 100);
      addFlagClick($(".flag"));
      addArrowClick($(".unmute"));
    });

    socket.on('update_topics', function(data) {
      console.log(data);
      $('#chat-rooms').append('<li id="' + titleCase(data.msg.room) + '" class="topic"><a href="/chat/' + titleCase(data.msg.room) + '">' + titleCase(data.msg.room) + '</a></li>');
    });

    socket.on('banned', function(data) {
      console.log("banned:");
      console.log(data);
      console.log(data['user']);
      var user = (data['user']).toString();
      var li = '<li class="user">' + user + ' <a class="unban">[unban]</a></li>';
      if (room === data['room'] && $("#user-name").text() === data['user']) {
        socket.emit('left', {});
        window.location.replace("/chat");
      }
      if (room === data['room'] && $("#user-name").text() !== data['user']) {
        if ($("#banned-users").parent().hasClass("hidden")) {
          console.log("hidden");
          console.log($("#banned-users"));
          $("#banned-users").parent().removeClass("hidden");
          console.log($("#banned-users").length);
          console.log(li);
          $("#banned-users").append(li);
          addUnbanClick($(".unban"));
        } else {
          $("#banned-users").append(li);
          addUnbanClick($(".unban"));
        }
      }
    });

    socket.on('unbanned', function(data) {
      console.log("unbanned");
      console.log(data);
      var room = data['room'];
      if (room == data['room'] && $("#user-name").text() == data['user']) {
        console.log("match");
        $('#chat-rooms').append('<li id="' + titleCase(room) + '" class="topic"><a href="/chat/' + titleCase(room) + '">' + titleCase(room) + '</a></li>');
      } else {
        if ($("#banned-users li").length == 0) {
          console.log("hi");
          $("#banned-users").parent().addClass("hidden");
        } else {
          $('#banned-users .user:contains("' + user + '")').remove();
        }
      }
    });

    socket.on('delete_my_chatroom', function(data) {
      if (room == data['msg']) {
        socket.emit('left', {});
        window.location.replace("/chat");
      }
      delete_chatroom($('#' + data['msg']));
    });
    
    $('#messageText').keypress(function(e) {
      var code = e.keyCode || e.which;
      if (code == 13) {
        text = $('#messageText').val();
        sendMessage();
        $('#messageText').val('');
      }
    });

    $("#sendMessage").on("click", function () {
        $("#feedback").remove();
        sendMessage();
    });

    $(".unban").on("click", function () {
        var user = $(this).parent().text().replace("[unban]", "").trim();
        var room = $("#chatroom-name").text();
        socket.emit('unbanned', { data: { user: user, room: room} });
        console.log($("#banned-users li").length);
        if ($("#banned-users li").length === 0) {
          $("#banned-users").parent().addClass("hidden");
        } else {
          console.log("hi");
          $('#banned-users .user:contains("' + user + '")').remove();
        }
    });

    $(".ban").on("click", function() {
        var user = $(this).parent().text().replace("[ban]", "").replace("[+]", "").replace("[-]", "").trim();
        console.log(user);
        var room = $("#chatroom-name").text();
        socket.emit('banned', { data: { user: user, room: room} });
    });

    $('#submit').on("click", function() {
      if ($('.alert').length == 0) {
        var name = $("#topicname").val();
        console.log("new chatroom");
        console.log(name);
        socket.emit('new_topic', { data: { room: name } });
        clearMessages();
        socket.emit('left', {});
      }
    });

    $('#chat-rooms').on( 'click', 'a', function () {
      var chatroom = $(this)[0].innerText;
      clearMessages();
      socket.emit('left', {});
      socket.emit('joined', { data: { room: chatroom } });
    });

    $('.flag').on('click', function () {
      $(this).replaceWith('<select class="dropdown"><option value="default">Pick a reason to flag:</option><option value="offensive">Offensive</option><option value="spam">Spam</option>');
      addInteraction($(".dropdown"));
    });

    $('.add_moderator').on('click', function () {
      $(this).parent().children(".remove_moderator").removeClass("hidden");
      var user = $(this).parent().text().replace("[+]", "").replace("[-]", "").trim();
      console.log(user);
      add_mod = $(this).detach();
      socket.emit('added_moderator', {data: { user: user}});
    });

    $('.remove_moderator').on('click', function () {
      $(this).addClass("hidden");
      $(this).parent().append(add_mod);
      var user = $(this).parent().text().replace("[+]", "").replace("[-]", "").trim();
      console.log(user);
      socket.emit('removed_moderator', {data: { user: user}});
    });

    $('.unmute').on('click', function () {
      var li = $(this);
      if (li.hasClass("down")) {
        li.children(".glyphicon-chevron-up").removeClass("hidden");
        li.children(".glyphicon-chevron-down").addClass("hidden");
        li.removeClass("down");
      } else {
        li.children(".glyphicon-chevron-down").removeClass("hidden");
        li.children(".glyphicon-chevron-up").addClass("hidden");
        li.addClass("down");
      }
    });

    $('#messageText').on('input', function() {
      var my_text = $('#messageText').val();
      $.ajax({
        url:"https://commentanalyzer.googleapis.com/v1alpha1/comments:analyze?key=AIzaSyAj5W2revGlFYriELZLCAXa5RvyA8FMUUA",
        type:"POST",
        data:'{comment: {text: "' + my_text + '"},languages: ["en"], requestedAttributes: {TOXICITY:{}}}',
        contentType:"application/json; charset=utf-8",
        dataType:"json",
        success: function(data){
          var score = data['attributeScores']['TOXICITY']['spanScores'][0]['score']['value'];
          console.log(score * 100);
          if (score * 100 >= 60) {
            if ($("#feedback").length == 0) {
              $(".panel-footer").append("<div id='feedback' class='alert alert-danger margin-top no-margin-bottom'>Your comment is inappropriate and will be hidden if you post it.</div>")
            }
          } else {
            $("#feedback").remove();
          }
        }
      })
    });

   function addFlagClick(e) {
    e.on('click', function () {
      $(this).replaceWith('<select class="dropdown"><option value="default">Pick a reason to flag:</option><option value="offensive">Offensive</option><option value="spam">Spam</option>');
      addInteraction($(".dropdown"));
    });
   }

   function addInteraction(e) {
    e.on("change", function() {
      var value = $(this).val();
      var user = $(this).siblings("strong")[0].innerHTML;
      socket.emit('flagged', { data: { flag: value, user: user } });
      e.replaceWith("<span><em>Thanks for your feedback!</em></span>");
    })
   }

   function addArrowClick(e) {
    e.on("click", function() {
      var li = $(this);
      if (li.hasClass("down")) {
        li.children(".glyphicon-chevron-up").removeClass("hidden");
        li.children(".glyphicon-chevron-down").addClass("hidden");
        li.removeClass("down");
      } else {
        li.children(".glyphicon-chevron-down").removeClass("hidden");
        li.children(".glyphicon-chevron-up").addClass("hidden");
        li.addClass("down");
      } 
    });
   }

   function addUnbanClick(e) {
    e.on("click", function() {
        var user = $(this).parent().text().replace("[unban]", "").trim();
        var room = $("#chatroom-name").text();
        socket.emit('unbanned', { data: { user: user, room: room} });
        if ($("#banned-users li").length == 0) {
          console.log("hi");
          $("#banned-users").parent().addClass("hidden");
        } else {
          $('#banned-users .user:contains("' + user + '")').remove();
        }
    });
   }

   function addBanClick(e) {
      e.on("click", function() {
        var user = $(this).parent().text().replace("[ban]", "").replace("[+]", "").replace("[-]", "").trim();
        console.log(user);
        var room = $("#chatroom-name").text();
        socket.emit('banned', { data: { user: user, room: room} });
      });
   }
  
   function addAddModClick(e) {
      e.on("click", function() {
        $(this).parent().children(".remove_moderator").removeClass("hidden");
        var user = $(this).parent().text().replace("[+]", "").replace("[-]", "").trim();
        console.log(user);
        add_mod = $(this).detach();
        socket.emit('added_moderator', {data: { user: user}});
      });
   }

    remove_chatroom = function(elem) {
        id = $(elem).attr('id');
        parent_id = $(elem).parent().attr('id');
        console.log("ids: " + id + " " + parent_id);
        socket.emit('delete_my_chatroom', { data: { id: id, parent: parent_id} });
    }

    delete_chatroom = function(id) {
      if(id) {
        console.log("exists");
        id.remove();
      }
      console.log("does not exist");
    }

    start_translation = function(elem) {
      var el_id = $(elem).attr("id");
      var actual_msg = '';
      var trans_holder = '';

      if (typeof el_id === 'undefined') {
        trans_holder = $('.translated_noid').last();
        actual_msg = $('.actual_msg').last();
        
      } else {
        trans_holder = $("#" + el_id + "-translated");
        actual_msg = $("#" + el_id + "-actual_msg");
      }

      if(trans_holder.text() != "") {
          trans_holder.html("");
        } else {
          user_email = $('#user-name').text();
          // add the loader class to the div node. (start loader)
          $(elem).parent().children().last().addClass('loader');

          // check localstorage first
          if (testStorage) {
            var trans = get_trans_text(el_id);

            if (trans != null) {
              // Remove the loader class from the div node. (stop loader)
              $(elem).parent().children().last().removeClass('loader');
              trans_holder.html(trans);
            } else {
              translate(user_email, actual_msg.text(), el_id, trans_holder, elem);
            }
            
          } else {
            translate(user_email, actual_msg.text(), el_id, trans_holder, elem);
          }
        }
    }

    function clearMessages() {
      $('.media-list li').detach();
    }

    function sendMessage() {
      $container = $('.media-list');
      $container[0].scrollTop = $container[0].scrollHeight;
      var text = $("#messageText").val();
      socket.emit('message', { data: { message: text } });
      $("#messageText").val("");
    }

    function titleCase(str) {
      str = str.toLowerCase().split(' ');
      for (var i = 0; i < str.length; i++) {
        str[i] = str[i].charAt(0).toUpperCase() + str[i].slice(1); 
      }
      return str.join(' ');
    }

    function getUserLang(email) {
      return $.get('http://' + document.domain + ':' + location.port + '/user_language/' + email);
    }

    function detectLang(text) {
      return $.get('https://translate.yandex.net/api/v1.5/tr.json/detect', { key: key, text: text });
    }

    function translate(email, text, msg_id, output, loader) {
      
      if (msg_id == null) {
        msg_id = -1;
      }

      console.log({ email: email,text: text, msg_id: msg_id});
      $.ajax({
        url:'http://' + document.domain + ':' + location.port + '/translate',
        type:"POST",
        data: JSON.stringify({ email: email,text: text, msg_id: msg_id}),
        contentType:"application/json; charset=utf-8",
        dataType:"json",
        success: function(data){
          // Remove the loader class from the div node. (stop loader)
          $(loader).parent().children().last().removeClass('loader');
          // output the data
          output.html(data.result.lang);
          //save the data to localStorage
          store_trans_text(msg_id, data.result.lang);
        }
      });
    }

    function store_trans_text(msg_id, text) {
      localStorage.setItem(msg_id, text);
    }

    function get_trans_text(msg_id) {
      return localStorage.getItem(msg_id);
    }

    function concatString(from, to) {
      return from + '-' + to;
    }

  });
  </script>

{% endblock %}